.window {
    height: 100%;
    width: 100%;
    background-color: rgb(228, 0, 228);
    display: flex;
    align-items: center;
}

.label {
    font-size: 50px;
    color: white;
    text-align: center;
}