.window {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10px;
    align-items: center;
    width: 88%;
}

.dual-chats {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.human {
    height: 600px;
    border-color: #27AAE1;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-style: solid;
}

.raw {
    width: 100%;
    border-color: #3F5BBE;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-left-color: gray;
    border-left-width: 2px;
    border-left-style: dashed;
    border-top-style: solid;
    border-bottom-style: solid;
}

.message-block {
    width: 100%;
    height: 50px;    
}
