<div class="user-list-box">
    <h1 class="title">Connection Stats</h1>
    <div class="team-name-box">
        <p class="metric-title">Status:</p>
        <p class="metric-text">Active</p>
    </div>
    <div class="team-name-box">
        <p class="metric-title">Round Trip Time:</p>
        <p class="metric-text">{{connectionInfo?.roundTripTime}} Seconds</p>
    </div>
    <div class="team-name-box">
        <p class="metric-title">Transport Type:</p>
        <p class="metric-text">ws://</p>
    </div>
    <div class="team-name-box">
        <p class="metric-title"># of Sockets:</p>
        <p class="metric-text">1</p>
    </div>
    <div class="team-name-box">
        <p class="metric-title">Address:</p>
        <p class="metric-text">http://localhost:3000</p>
    </div>
    <div class="team-name-box">
        <p class="metric-title">Reconnection Attempts:</p>
        <p class="metric-text">0</p>
    </div>
</div>